<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.libcam">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" android:requiredFeature="true" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:label="Camera Preview"
            android:name=".CameraPreviewActivity">
        </activity>
    </application>
</manifest>